
<div class="container">
    <div style="white-space: nowrap;">
        <div style="float:left;min-width:100px; width: auto !important; width: 100px;">
        </div>
        <div style="float:left;min-width:100px; width: auto !important; width: 100px;">
            <div style="margin-left: 30px">
            </div>
        </div>
    </div>
    </br>
</div>