<!DOCTYPE html>
<html>
<head>
    <title>pracler :: Listen with pracler</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</head>

<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">pracler</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">홈<span class="sr-only">(current)</span></a></li>-->
        <li><a href="#">Now</a></li>
        <li><a href="/song/artist-/album-/title-">내 음악</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">내 친구<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">내 팔로워</a></li>
            <li><a href="#">내 팔로잉</a></li>
            <li class="divider"></li>
            <li><a href="#">친구 찾기</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="음악을 찾아 보세요!">
        </div>
        <button type="submit" class="btn btn-default" >검색</button>
      </form>


      <ul class="nav navbar-nav navbar-right">
        <li><a id="_" href="/login">로그인</a></li>
        <li><a id="a_" href="/new">회원가입</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container">
    <div id="main_content"> 
        main_content에 아무것도 없음.
    </div>
</div>

<script src="/js/custom.js"></script>
<script>
  refresh('<%= param %>');
</script>