.song-info {
  background: #2e2835;
  color: white;
  padding-top: 100px;
  padding-bottom: 0px; }

.song-info p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; }

.song-info h1 {
  color: #d9ccee; }

.song-info h2 {
  color: #d9ccee; }

.song-info h4 {
  color: #d9ccee; }

.navbar + .song-info {
  margin-top: -20px; }

.song-info .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; }

.song-info .lang-logo img {
  max-width: 100%; }

.home-info {
  background: #FFFFFF;}

.home-info p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; }

.home-info h1 {
  color: #d9ccee; }

.home-info h2 {
  color: #d9ccee; }

.home-info h4 {
  color: #d9ccee; }

.navbar + .home-info {
  margin-top: -20px; }

.home-info .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; }

.song-info .lang-logo img {
  max-width: 100%; }


.song-stats {
  background: #27222d;}

.song-stats div {
  vertical-align: middle;
  height: 100%;
}

.song-stats .stat {
  color: #d9ccee;
  margin: 0; 
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px; }

.song-stats .stat .stat-name {
  color: #d9ccee;
  margin: 0;
  font-size: 12px;
  text-align: center;
  font-weight: bold; }

.song-stats .stat .stat-value {
  color: #d9ccee;
  margin: 0; 
  margin-top: -5px;
  font-size: 17px;
  font-weight: bold; }

.song-stats .nav > li > a {
  position: relative;
  display: block;
  padding: 11px 15px;
}

.youtube {position:relative;padding-bottom:52.25%;height:0;overflow:hidden;} 
.youtube iframe,.youtube object,.youtube embed{position:absolute;top:0;left:0;width:100%;height:100%;} 

.padding-5px-horizontal {
   padding-left: 5px !important;
   padding-right: 5px !important;
   margin: 0 !important;
}

.padding-3px-horizontal {
   padding-left: 3px !important;
   padding-right: 3px !important;
   margin: 0 !important;
}

.navbar-fix-top {
  height:35px;
  width:100%;
  color: #555;
  font-size:12px;
  position:fixed;
  z-index:999;
  top:0px;
  left:0px;
  background-color:#fff;    
  opacity: 0.9;
}

html,body{height:100%; }

body {
    overflow-x:hidden;
}

.background 
{
    min-height: 100%; 
    padding-top: 64px;
    padding-bottom: 130px;
    position: relative;
    /*border: 3px solid blue;*/
}

.main-content
{
    height: 100%;
    min-height: 100%; 
}

.main .search
{
    margin-top: 64px;
    margin-bottom: 64px;
}

.footer 
{
    position: absolute;
    height: 130px;
    padding-top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #333333;
}

.container {
    height:100%;
    min-height: 100%; 
    position: relative;
}



@media (min-width: 200px) {
    .floatplayer {
        width:240px ;
        height:135px ;
        bottom: 0px;
        right: 0px;
    }

    .floatplayerbox {
        position:fixed;
        width:240px ;
        height:135px ;
        bottom: 0px;
        right: 0px;
}
    .floatplayerbox .youtube {
        background-color: #000;
        position: static;
        width:240px !important;
        height:135px !important;
    }
}
@media (min-width: 1200px) {

    .floatplayer {
        width:480px ;
        height:270px ;
        bottom: 40px;
        right: 10px;
    }

    .floatplayerbox {
        position:fixed;
        width:480px ;
        height:270px ;
        bottom: 40px;
        right: 10px;
    }

    .floatplayerbox .youtube {
        background-color: #000;
        position: static;
        width:480px !important;
        height:270px !important;
    }

}

.user_nowplaying
{
    background-color: #f7f7f7;
    position:relative; 
    height: 40px;
    border-left: thick solid #2196f3;
    border-right: thick solid #2196f3;
}

.user_nowplaying .icon
{ 
  position:absolute;
  height:40px; top: 0; bottom: -14px; left: 10px;margin-top:auto; margin-bottom:auto;
  color: #2196f3
}

.user_nowplaying .txt
{ 
  position:absolute;
  height:40px; top: 0; bottom: -20px; left: 50px;  margin-top:auto; margin-bottom:auto;

}
.hidden
{
    display: none;
}

.music_image
{
    width: 150px; height: 150px;
    object-fit: cover;
    border-radius: 3%;
}

.profile_image
{
    width: 130px; height: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.picture_edit 
{
    width:150px; 
    height:50px;  
    position:relative; 
    top:0px; 
    left:0px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
} 

.title_data 
{
    width:1100px; 
    height:0px;  
    position:relative; 
    top:-144px; 
    left:155px;
} 



/* markup */

.view-markup h1
{
    font-weight: 700;
    font-size: 30px;
}

.view-markup h2
{
    font-size: 26px;
}

.view-markup h3
{
    font-size: 20px;
}


.view-markup p
{
    font-size: 15px;
}

a .verify_false
{
    color: #2196f3;
}

a .verify_true
{
    color: #21b633;
}

/* panel */

.v-panel
{
    padding:15px;
}

.v-panel .col-lg-3
{
    width: 25%;
    float: left;
}

.panel-album-popular .alb
{
    padding:0;
}

.panel-album-popular .alb img
{
    position: relative;
    width: 50%; /* 원하는 너비 */
}

.panel-album-popular .alb img:before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 비율 */
}

.panel-album-popular .alb .txtbox
{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    position:relative; 
    top:-62px;
    height: 61px;
}
.panel-album-popular .alb .txtbox .txt-plays
{
    line-height:0.5%;
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    left: 10px;
    bottom: 37px;
    white-space:nowrap;
}
.panel-album-popular .alb .txtbox .txt-album-name
{
    line-height:0.5%;
    font-weight: 700;
    font-size: 17px;
    color: #FFFFFF;
    position: absolute;
    left: 10px;
    bottom:20px;
    white-space:nowrap;
}



.view-panel h1
{
    font-weight: 700;
    font-size: 30px;
}

.view-panel h2
{
    font-weight: 700;
    font-size: 30px;
}

.view-panel h3
{
    font-weight: 700;
    font-size: 30px;
}


/* panel - history_popular */

.history_popular_plays
{
    float:left;
    margin-left:5px;
}