<div class="song-info">
  <div class="container">
    <div style="white-space: nowrap;">
      <div style="float:left;min-width:100px; width: auto !important; width: 100px;">
        <img style="width:150px; height:150px; background-image:white;" src=""></div>
      </div>
      <div style="float:left;min-width:100px; width: auto !important; width: 100px;">
        <div style="margin-left: 30px">
          <h4 style="word-break: keep-all;"></h4>
          <h2 style="word-break: keep-all;"></h2>
        </div>
      </div>
    </div>

    </br>

  </div>
</div>
<div class="song-stats">
  <div class="container">
    <div>
      <div style="float:left; float: bottom;">
          <ul class="nav nav-tabs">
            
            <li class="active">
              <a href="#info" data-toggle="tab" aria-expanded="true">정보</br>- </a>
            </li>
            <li class="">
              <a href="#profile" data-toggle="tab" aria-expanded="false">청취</br>100</a>
            </li>
            <li class="">
              <a href="#like" data-toggle="tab" aria-expanded="false">좋아요</br>72</a>
            </li>
            <li class="">
              <a href="#today" data-toggle="tab" aria-expanded="false">오늘</br>13</a>
            </li>
          </ul>
      </div>
      <!--<div class="stat" style="float:left">
          <p class="stat-name">재생 회수</h6>
          <p class="stat-value">10</h6>
      </div>
      <div class="stat" style="float:left">
          <p class="stat-name">듣는 사람</h6>
          <p class="stat-value">10</h6>
      </div>
      <div class="stat" style="float:left">
          <p class="stat-name">좋아요</h6>
          <p class="stat-value">10</h6>
      </div>
      <div class="stat" style="float:left">
          <p class="stat-name">오늘</h6>
          <p class="stat-value">10</h6>
      </div>-->
    </div>

    </br>

  </div>
</div>
<div class="container" style="margin-top:30px;">
  <div class="row">
    <div class="col-lg-8">
      <div class="bs-component">
        <div class="content-tabs">
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="info">

              <div class="youtube">
                  준비중인 서비스입니다.
            </div>
              <h3>정보</h3>
              <blockquote>
                  fewfwef
                <small>From <cite title="Source Title">https://ja.wikipedia.org/wiki/%E6%81%8B_(%E6%98%9F%E9%87%8E%E6%BA%90%E3%81%AE%E6%9B%B2)</cite></small>
              </blockquote>
            </div>
            <div class="tab-pane fade" id="profile">
              <div style="width:100%; height:1000px"></div>
            </div>
            <div class="tab-pane fade" id="like">
              <div style="width:100%; height:1000px"></div>
            </div>
            <div class="tab-pane fade" id="today">
              <div style="width:100%; height:1000px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <a href="#" class="btn btn-danger btn-lg btn-block" style="margin-bottom: 25px"> ▶&nbsp;&nbsp; Youtube에서 보기</a>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Panel success</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
