

<div class="container main">

    <div class="text-center" style="padding:40px;">
        <div>
            <h1 style="padding:40px;">pracler <span style="font-size:18px;">Beta</span></h1>
            <h4>전 세계 사람들과 음악 감상으로 소통하세요.</h4>
        </div>
    </div>

    <div class="content-full-height search">
        <form class="form-horizontal ">
            <div class="form-group">
                <div class="col-lg-1" />
                <label for="inputEmail" class="col-lg-1 control-label">음악 검색</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputEmail" placeholder="듣고 싶은 음악을 검색하세요!">
                </div>
                <button type="submit" class="col-lg-1 btn btn-primary">검색</button>
                <div class="col-lg-2" />
            </div>
        </form>
    </div>
</div>