<div class="home-info">
  <div class="container">
    <div style="white-space: nowrap;">
      <div style="">
        <center>
          <h2>음악을 트래킹하세요!</h2>
          <h4>음악을 트래킹하세요! pracler와 함께.</h4>
        </center>
      </div>
    </div>

    </br>

  </div>
</div>