

<div class="container main">

    <div class="text-center" style="padding:40px;">
        <div>
            <h1 style="padding:40px;">pracler <span style="font-size:18px;">Beta</span></h1>
            <h4><a href="/search/" id="music_count">0</a>개의 음악과 함께 전 세계 사람들과 소통하세요.</h4>
        </div>
    </div>

    <div class="content-full-height search">
        <form class="form-horizontal ">
            <div class="form-group">
                <div class="col-lg-1" />
                <label for="inputEmail" class="col-lg-1 control-label">음악 검색</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputmusicname" placeholder="듣고 싶은 음악을 검색하세요!">
                </div>
                <button type="submit" id="search_bt_home" class="col-lg-1 btn btn-primary">검색</button>
                <div class="col-lg-2" />
            </div>
        </form>
    </div>
</div>

<script language="javascript">
        document.title = "pracler :: Track Your Music.";
</script>

<script>
    $(function(){ 

        var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',')
        var url = "/data/music/count";
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function(result) {
                var obj = JSON.parse(result);
                $('#music_count').animateNumber(
                    { 
                        number: obj.count,
                        numberStep: comma_separator_number_step
                     });
            }
        });

        $("#search_bt_home").click(function(){ 
            event.preventDefault();
            var search_input = fetch($('#inputmusicname').val());
            var url = "/search/"+search_input;

            goto(url);
            

        })	;
    })
</script>