<div class="container">
    <div class="page-header">
        <p class="lead">"<%= search %>"에 대해 검색한 결과입니다.</p>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col-lg-8">
        <h3> 음악 </h3>
        <ul class="pager">
            <li class="next"><a href="#">더 보기 &rarr;</a></li>
        </ul>
        <h3> 앨범  </h3>
        <ul class="pager">
            <li class="next"><a href="#">더 보기 &rarr;</a></li>
        </ul>
        <h3> 아티스트  </h3>
        <ul class="pager">
            <li class="next"><a href="#">더 보기 &rarr;</a></li>
        </ul>
        <h3> 유저 </h3>
        <ul class="pager">
            <li class="next"><a href="#">더 보기 &rarr;</a></li>
        </ul>

    </div>  
    <div class="col-lg-4">
        <a href="/write" class="btn btn-default btn-lg btn-block">원하시는 결과가 없나요? 새로 만들기!</a>
    </div>  
</div>