<div class="container" >
    <h3 style="padding:50px;" ><center>pracler를 서포트해주세요!</center></h3>
    <p style="font-size:18px;">
		현재 pracler의 모든 서비스는 무료로 제공하고 있습니다. 
		또한 개인 프로젝트, 오픈소스 프로젝트로 개발되고 있으며 서버 시스템 유지비와 개발 비용들을 개인적으로 충당하고 있는 상태입니다. 
		pracler를 서포트해주시게 되면 아래 내용들에 사용됩니다.

	</p>
	<blockquote>
		<p style="font-size:20px;">서버 호스팅 및 도메인 비용</p>
		<p style="font-size:20px;">개발 비용</p>
		<p style="font-size:20px;">개발자 커피값</p>
	</blockquote>
    <center style="padding:50px;" >
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="R9VR3WRGSFHRY">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </center>

</div>




