<h1>Sion Yu님의 인기 앨범</h1>
<div class="v-panel panel-album-popular">
    <div class="row">
        <div class="col-lg-3 alb">
            <img style="width:100%" src="http://www.designformusic.com/wp-content/uploads/2015/10/insurgency-digital-album-cover-design.jpg"/>
        </div>
        <div class="col-lg-3 alb">
            <img style="width:100%" src="http://aiko.com/_shared/img/discography/15036_02.jpg"/>
        </div>
        <div class="col-lg-3 alb">
            <img style="width:100%" src="http://hikarinoakariost.info/wp-content/uploads/2015/04/QWCE-400.jpg"/>
        </div>
        <div class="col-lg-3 alb">
            <img style="width:100%" src="http://www.fuse.tv/image/5682ea90ac0e76bd68000055/768/512/brown-eyed-girls-basic-album-cover-full-size.jpg"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 alb">
            <img style="width:100%" src="http://vocadb.net/Album/CoverPicture/1008?v=19"/>
        </div>
        <div class="col-lg-3 alb">
            <img style="width:100%" src="https://marketplace.canva.com/MAB6qQ3iTzo/1/0/thumbnail_large/canva-rocky-beach-photo-cd-cover-%28album-cover%29-MAB6qQ3iTzo.jpg"/>
        </div>
        <div class="col-lg-3 alb">
            <img style="width:100%" src="http://sites.psu.edu/ksukitch/wp-content/uploads/sites/6209/2013/09/kanye-west-graduation.jpg"/>
        </div>
        <div class="col-lg-3 alb">
            <img style="width:100%" src="http://d817ypd61vbww.cloudfront.net/sites/default/files/styles/media_responsive_widest/public/tile/image/A-116-01comp.jpg?itok=LjWmwzjU"/>
        </div>
    </div>
</div>