<h1>인기 노래</h1>
<div class="v-panel panel-album-popular">
    <div class="row">
        <div class="col-lg-1 alb">1</div>
        <div class="col-lg-5 alb">제목</div>
        <div class="col-lg-6 alb">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" style="width: 60%; height: 20px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 alb">2</div>
        <div class="col-lg-5 alb">제목</div>
        <div class="col-lg-6 alb">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" style="width: 40%; height: 20px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 alb">3</div>
        <div class="col-lg-5 alb">제목</div>
        <div class="col-lg-6 alb">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" style="width: 30%; height: 20px;"></div>
            </div>
        </div>
    </div>
</div>